################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sdf
*.log
*.opensdf
*.lastbuildstate
*.obj
*.tlog
*.pdb
*.idb
*.pch
*.cd
*.suo
*.user

/apps/vJoyFeeder/vJoyFeeder01.vcxproj

# Folders
win32/
x64/
release/
debug/
vlwciwos.lhj.txt
ipch/
.vs/

install/vJoySetup.exe
Test-vXboxInterface/unittest1.cpp
apps/common/vJoyInterface/RCa14412
apps/common/vJoyInterface/RCb14412
apps/common/vJoyInterface/Test-vXboxInterface/ReadMe.txt
apps/vJoyConf/gen-versioninfo.h
apps/vJoyConf/vJoyConfig/gen-versioninfo.h
apps/vJoyInstall/gen-versioninfo.h
apps/vJoyInstall/vJoyInstallLib.cpp.rej
install/Joystick-icon-Base.ico
install/install-Base.ico
apps/FfbMon/gen-versioninfo.h
apps/common/vJoyInterface/gen-versioninfo.h
apps/vJoyFeeder/gen-versioninfo.h
apps/common/vJoyInterface/RCa08136
apps/common/vJoyInterface/vJoyInterface-Static/ReadMe.txt
driver/sys/RCa12040
*.opendb
*.db
apps/common/vJoyInterfaceCS/WrapperTest/obj/x86/Debug_CPP/build.force
apps/common/vJoyInterfaceCS/vJoyInterfaceWrap/obj/x86/Debug_CPP/build.force
apps/common/vJoyInterfaceCS/WrapperTest/bin/
apps/common/vJoyInterfaceCS/WrapperTest/obj/Debug_CPP/build.force
apps/common/vJoyInterfaceCS/WrapperTest/obj/x86/Debug_CPP/WrapperTest.Properties.Resources.resources
apps/common/vJoyInterfaceCS/WrapperTest/obj/x86/Debug_CPP/WrapperTest.TesterForm.resources
apps/common/vJoyInterfaceCS/vJoyInterfaceWrap/obj/x86/Release_CPP/vJoyInterfaceWrap.csproj.FileListAbsolute.txt
apps/common/vJoyInterfaceCS/vJoyInterfaceWrap/obj/Debug_CPP/build.force
apps/common/vJoyInterfaceCS/WrapperTest/obj/
apps/common/vJoyInterfaceCS/vJoyInterfaceWrap/bin/
apps/common/vJoyInterfaceCS/vJoyInterfaceWrap/obj/
Release_STAT/
apps/common/vJoyInterfaceStat/bldInterface.bat
apps/common/vJoyInterfaceStat/makefile
apps/common/vJoyInterfaceStat/makefile.inc
apps/common/vJoyInterfaceStat/sources
apps/common/vJoyInterfaceStat/svn_version.h.tmpl
apps/common/vJoyInterface/RCa11008
apps/common/vJoyInterfaceStat/_vjoyinterface.h
apps/common/vJoyInterface/RCa11704
apps/vGenInterface/vGenTest/vXboxTest/ReadMe.txt
