################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sdf
*.log
*.opensdf
*.lastbuildstate
*.obj
*.tlog
*.pdb
*.idb
*.pch
*.cd
*.suo
*.user

/apps/vJoyFeeder/vJoyFeeder01.vcxproj

# Folders
win32/
x64/
release/
debug/
vlwciwos.lhj.txt
ipch/
.vs/

