################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.log
*.opensdf
*.lastbuildstate
*.vcxproj.user
*.obj

*.pdb
*.idb
*.pch
/apps/vJoyFeeder/vJoyFeeder01.vcxproj
